<main role="main" class="container">
  <div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <a class="nav-link" href="#">Canlı</a>
      <a class="nav-link" href="#">Futbol</a>
      <a class="nav-link" href="#">Basketbol</a>
      <a class="nav-link" href="#">Tenis</a>
      <a class="nav-link" href="#">Voleybol</a>
      <a class="nav-link" href="#">Hetbol</a>
      <a class="nav-link" href="#">uv futbol</a>
      <a class="nav-link" href="#">uv basketbol</a>
      <a class="nav-link" href="#">snooker</a> 
      <a class="nav-link">| <%= I18n.l(DateTime.now, format: :short) %></a>


    </nav>
  </div>
</main>

