<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
  <main role="main" class="container">
    <a class="navbar-brand" href="<%= root_path %>">Mesine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>
      <form class="form-inline">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">e-mail</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="kullanıcı adı">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">sifre</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="sifre">
    </div>
       <button type="submit" class="btn btn-primary mb-2">Giriş yap</button> 
       <button type="submit" class="btn btn-secondary mb-2"><%= link_to  "Üye ol",root_path %></button> 

         
  </form>
    </div>
  </main>
</nav>